
@import '../_variables'

// figure is added here to give precedence over the base grid-figure
figure.grid-figure
  display flex
  min-height 275px
  flex-flow column nowrap
  justify-content: center

.card-title p
  font-size 2.5rem
  padding 0.5rem 0rem

.card-answer p, li
  font-size 1.5rem
  line-height 1.5

.preview p
  font-weight bold

.preview-pane
  padding 1.0rem 2.5rem
  background-color lighten(lightgrey, 90%)
  border 1px solid lightgrey


.control-buttons
  flex: 0 0 auto
  flex-flow: row nowrap
  margin-top: 1.5rem
  button
    margin 0 0 0 1rem
  button:first-child
    margin 0

@media (max-width: cardWidth)
  .control-buttons
    flex: 0 0 50%
    flex-flow: column nowrap
    align-content space-around
    button
      margin 0.6rem 0 0 0
    button:first-child
      margin 0
