@import '../_variables'

// figure is added here to give precedence over the base grid-figure
figure.grid-figure
  display: flex
  min-height: 275px
  flex-flow: column nowrap
  justify-content: center

.control-buttons
  flex: 0 0 auto
  flex-flow: row nowrap
  justify-content: center
  margin-top: 1rem
  button
    margin: 0 0 0 1rem
  button:first-child
    margin: 0

@media (max-width: cardWidth)
  .control-buttons
    flex-flow: row nowrap
    align-content: space-around
    button,
    button:first-child
      flex: 1 0 50%
      margin: .6rem .25rem
