@import '../_variables'

figure.grid-figure
  display flex
  min-height 275px
  flex-flow column nowrap
  justify-content: center

.control-buttons
  flex: 0 0 auto
  flex-flow: row nowrap
  button
    margin-left 1rem
  button:first-child
    margin-left 0rem
