@import '../_variables';

.deck-view
  width: 100%
  max-width: pageWidth
  // .grid-figure
  //   flex-basis: calc(50% - 2rem)
  //   margin: 0 1rem 2rem 0rem

// Individual card styles
.grid
  justify-content: flex-start
  figure
    flex-basis: calc(50% - 2rem)
    transition: all .2s
  // div > h1
  //   width: 550px
  //   // white-space nowrap
  //   overflow: hidden
  //   text-overflow: ellipsis

:global
  .two-col figure
    flex-basis: calc(50% - 2rem)
  .three-col figure
    flex-basis: calc(33% - 1.6rem)


.card-contents
  > div:first-child  // Targets the <div className="card-contents">
    opacity: 1
    // transition all 0.2s
    background-color: rgba(255, 255, 255, 1)
  &:hover > div:first-child
    opacity: .17
    background-color: rgba(0, 0, 0, .15)

@media (max-width: cardWidth)
  .grid figure
    flex-basis: calc(100% - 2rem)
    :global
      .card-title
        max-height: 90vh

.title-card
  border: 1px solid lightgrey
  background-color: white
  border-bottom: 5px solid black
  margin: 0 1rem 0 1rem
  padding: 2rem
  padding-top: 4rem
  flex-flow: row wrap
.title-text
  margin-top: 2rem
  flex: 1 1 75%
  order: 1
  text-overflow: ellipsis
  > *
    flex: 1 0 auto
  :global
    .editable
      min-height: 5rem

.options
  display: flex;
  flex-flow: row nowrap;
  padding: 1.5rem 0
  margin: 0 1rem;
  margin-bottom: 2rem;
  // background-color: white;

  > div > span // Labels for sort/arrange options
    margin-right: 1.5rem
    text-transform: uppercase
    font-weight: bold
  a
    cursor: pointer
    user-select: none
    font-weight: normal;
    color: grey
    text-transform: uppercase
    margin: 0 .5rem
  a.selected
    color: blue
    border-bottom: 1px solid blue
  .arrange, .search
    flex: 1 1 auto
    flex-flow: row nowrap;
    align-self: flex-start;
  .arrange, .sort
    align-self: flex-end;
    justify-content: flex-end;
  .search
    > input
      flex: 0 0 80%;
      background-color: transparent
      border-bottom: 2px solid grey
    > div
      flex: 0 0 20%;
      flex-flow: row nowrap;
      justify-content: flex-end;
      color: black
      margin: 0 1rem
      > span
        width: 100px;
        align-self: flex-end
        text-transform: uppercase
        position: relative
        top: -0.3rem
  // TODO: Disable the sorting feature until it's built out
  .sort
    display: none

.control-buttons
  margin-top: 1.0rem
  flex-flow: column nowrap
  flex: 1 0 15%
  order: 2
  transition: all .2s ease-in
  padding-left: 2rem
  button, a
    flex: 0 0 auto
    margin-top: .6rem
    // max-height: 4.0rem
  button:first-child, a:first-child
    margin-top: 0

@media (max-width: cardWidth)
  .title-text
    margin-top: 0
    flex: inherit
  .title-card
    flex-flow: column nowrap
    justify-content: center
    padding: 1rem 1.5rem
    :global
      .large.editable
        font-size: 2.5rem
  .options
    flex-flow: column nowrap
    & > .arrange,
    & > .search,
    & > .sort
      align-self: stretch
      margin: 1rem;
    .arrange
      display: none

  .control-buttons
    flex-flow: row nowrap
    flex: 0 0 50px
    margin-left: 0
    margin-top: 3rem
    button, a
      flex: 1 0 auto
      margin-top: 0
      margin-left: .6rem
    button:first-child, a:first-child
      margin-left: 0

