.deck-title
  font-size: 3.5rem
  padding: 2rem 2rem 1rem 2rem
  cursor: pointer

// figure is added here to give precedence over the base grid-figure
figure.grid-figure
  display: flex
  flex-direction: column

.grid-figure > div:first-child
  flex: 1 0 auto

.grid-figure figcaption
  padding: 0 2rem 1rem 2rem

.control-buttons
  padding: 0 2rem 2rem 2rem
