@import '../_variables';

.deck-grid
  width: calc(100% - 5rem * 2)
  max-width: pageWidth
  margin: inherit 5rem 2rem 5rem
  flex: 1 0 auto
  flex-flow: row wrap
  justify-content: flex-start
  align-content: flex-start

  :global
    .grid-figure
      flex: 0 0 calc(33% - 2rem)
      height: 400px
      // This would be nice to have if it didn't bleed into the single cards
      transition: all .1s ease-out
      &:hover
        transform: scale(1.03, 1.03)

@media (max-width: cardWidth)
  .deck-grid
    :global
      .grid-figure
        flex: 1 1 auto
        height: unset
