@import '../_variables';

.frontBack
  flex-direction row
  color grey

.front, .back
  font 200 1.5rem 'Dosis'
  cursor pointer

.active
  font-weight bold
  color blue

.separator
  font 200 1.5rem 'Dosis'
  margin 0 1rem
