@import '../_variables';

.deck-import
  max-width pageWidth

.grid-figure
  flex-direction column
  h2.header
    margin-top: 0
    padding-bottom: 0.3rem
    border-bottom 0.6rem solid black
  form
    padding: 0

.drop
  width 100%
  padding 1rem 0
  margin 1rem 0
  border 1px dashed lighten(gray, 60%)
  text-align center
  p
    color lighten(gray, 60%)
.drop-active
  border 1px solid green
.drop-reject
  border 1px solid red
