@import '../_variables';

.deck-import
  max-width: pageWidth
  h4
    margin: 0
    margin-bottom: 1rem

.grid-figure
  flex-direction: column
  h2.header
    margin-top: 0
    padding-bottom: .3rem
    border-bottom: .6rem solid black
  form
    padding: 0

.drop
  width: 100%
  padding: 1rem 0
  margin: 1rem 0
  border: 1px dashed lighten(gray, 60%)
  text-align: center
  p
    color: lighten(gray, 60%)
.drop-active
  border: 1px solid green
.drop-reject
  border: 1px solid red

.or-bar
  hr
    border: 0
    border-bottom: 1px solid darken(lightgrey, 10%)
    padding: 0
    margin: 2rem 0
    width: 100%
    outline: 0
    animation-name: growWidth
    animation-duration: 3s
  p
    font-size: 1.2rem
    text-transform: uppercase
    position: absolute
    top: calc(2.0rem - .8rem)
    left: 50%
    transform: translate(-50%, 0%) !important
    color: darken(lightgrey, 10%)
    background-color: white
    margin: 0
    padding: 0 .6rem

@keyframes growWidth
    from
      width: 30%
    to
      width: 100%
