@import '../_variables';

.button
  padding: 0 0.25rem
  & > i
    color: grey
    font-size: 2.0rem
    cursor: pointer

.modal
  z-index: 9000
  width: unset
  max-width: 400px
  top: unset
  left: unset
  margin-right: unset
  transform: unset
  padding-top: 4rem // Extra space to accomodate the close button
  animation: fadein .2s
  :global
    .close-modal
      position: absolute
      right: 2rem
      top: 2rem
      cursor: pointer
      color: lighten(black, 40%)
      z-index: 100

@media (max-width: cardWidth)
  .modal
    width: 95%
    height: unset
    max-height: 95%
    position: inherit
    top: 2% !important
    left: 50% !important
    transform: translate(-50%, 1%) !important
    padding: 2rem
    overflow: scroll


.overlay
  background-color: transparent

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
