@import '../_variables';

.modal-overlay
  background-color: rgba(0, 0, 0, .15)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1500

.modal-content
  width: 75%
  max-width: 700px
  background-color: white
  position: absolute
  top: 50%
  left: 50%
  right: auto
  bottom: auto
  margin-right: -50%
  transform: translate(-50%, -50%) !important
  border: 1px solid black
  padding: 3.5rem
  transition: all .2s

  :global
    .close-modal
      position: absolute
      right: 3.5rem
      top: 4.7rem
      cursor: pointer
      color: black
      z-index: 100
      // padding: 0.2rem
      // line-height: 1rem
      // width: 2rem
      // height: 2rem
      // text-align: center
      // border: 1px solid black
  h2
    margin-top: 0
    padding-bottom: .3rem
    border-bottom: .6rem solid black

@media (max-width: cardWidth)
  .modal-content
    width: 95%
    position: inherit
    top: 2%
    left: 50%
    transform: translate(-50%, 1%) !important
    padding: 2rem
    overflow: scroll
    // height: 95%
