@import '../_variables';

.modal-overlay
  background-color: rgba(0, 0, 0, .15)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1500

.modal-content
  width: 75%
  max-width: 700px
  background-color: white
  position: absolute
  top: 50%
  left: 50%
  right: auto
  bottom: auto
  margin-right: -50%
  transform: translate(-50%, -50%) !important
  border: 1px solid black
  padding: 4rem
  transition: all .2s

@media (max-width: cardWidth)
  .modal-content
    width: 95%
    position: inherit
    top: 2%
    left: 50%
    transform: translate(-50%, 1%) !important
    padding: 2rem
    overflow: scroll
    // height: 95%
