@import '../_variables';

.nav-container
  order 1
  height 70px
  background rgba(255,255,255,0.8)
  border-bottom 1px solid lighten(gray, 85%)
  h1
    font 200 2.5rem 'Dosis', sans-serif
    letter-spacing -0.05rem
    // text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    font-weight 300
    color black
    text-decoration none
    &:focus
      outline 0

.nav-outer-container
  flex-shrink 0
  align-items center
.nav-inner-container
  max-width pageWidth
  padding 2.0rem 1.0rem
  width 100%
  justify-content space-between
  flex-direction row
  h1
    flex-shrink 0
.title-bold
  font-weight 400

.nav-left
  font-size 2.3rem
.nav-right
  font-size 2.2rem

.rounded-button
  border 1px solid lightgrey
  border-radius 0.3rem
  padding 0.3rem 0.7rem
  a
    color black
  a[disabled]
    color gray
    cursor not-allowed
  a.hidden
    visibility hidden

.modal-overlay
  background-color: rgba(0, 0, 0, 0.15)
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

.modal-body
  width: 75%;
  max-width: 700px;
  background-color: white
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  border: 1px solid black
  padding: 4rem
  transition: all 0.2s

@media (max-width: cardWidth)
  .modal-body
    width: 95%
    background-color: white
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 1%) !important;
    border: 1px solid black
    padding: 2rem
    transition: all 0.2s

@media (max-width: cardWidth)
  .nav-container, .nav-outer-container
    height 45px
  .nav-inner-container
    padding 0.5rem 1.0rem
  .rounded-button
    border none
    margin-top 0.3rem
