@import '../_variables';

.grid-figure

h2.header
  margin-top: 0
  padding-bottom: .3rem
  border-bottom: .6rem solid black

.settings-view
  max-width: pageWidth

.settings
  // width: 100%

.settings-content
  //

.setings-bottom
  align-self: flex-end
