@import '../_variables';

.settings-view
  width 100%
  max-width pageWidth

.settings-card
  // width: 100%
  margin 0 1rem 1rem 1rem
  padding 2rem
  h1
    margin 1rem 0

.settings-section
  width: 100%
