@import '../_variables';

h2.header
  margin-top: 0
  padding-bottom: .3rem
  border-bottom: .6rem solid black
  margin-bottom: 1.0rem

h4
  margin-top: 1.0rem
  margin-bottom: .5rem

p
  margin-top: .5rem
  margin-bottom: .5rem

.settings-view
  max-width: pageWidth

.settings
  // width: 100%

.settings-content
  //
