@import '../_variables'

// figure is added here to give precedence over the base grid-figure
figure.grid-figure
  display: flex
  min-height: 275px
  flex-flow: column nowrap
  justify-content: center

.form
  input
    display: block
    margin: 1rem auto

.error
  color: red
  font-weight: bold
  text-align: center
  margin: 1rem 0

.control-buttons
  flex: 0 0 auto
  flex-flow: row nowrap
  margin-top: 1.5rem
  button
    margin: 0 0 0 1rem
    i
      display: block
      margin-bottom: 0.5rem
  button:first-child
    margin: 0
  :global
    button.twitter
      color: #00aced
      &:hover
        border-color: #00aced
    button.google
      color: #dd4b39
      &:hover
        border-color: #dd4b39
    button.github
      color: #333
      &:hover
        border-color: #333

@media (max-width: cardWidth)
  .control-buttons
    flex: 0 0 50%
    flex-flow: column nowrap
    align-content: space-around
    button
      margin: .6rem 0 0
    button:first-child
      margin: 0
