@import '../_variables';

.container
  flex: 0 0 100%
  padding: 0 1rem

.splash
  background-color: white
  border: 1px solid lightgrey
  width: 800px
  padding: 3.5rem
  margin: 0 auto

.auth
  width: 500px
  margin: 0 auto

h2.header
  margin-top: 0
  padding-bottom: .3rem
  border-bottom: .6rem solid black
  margin-bottom: 1.0rem

h4
  margin-top: 1.0rem
  margin-bottom: .5rem

p
  margin-top: .5rem
  margin-bottom: .5rem

.settings-view
  max-width: pageWidth

.shortcut-helper
  // width: 100%

.shortcut-helper-content
  //


@media (max-width: cardWidth)
  .splash
    max-width: unset
    width: 99%
  .auth
    width: unset
    margin: unset
