@import '../_variables';

.cardCount
  flex-direction row
  color grey

.current
  color blue
  font 400 3rem 'Dosis'
  position relative
  right 0.2rem

.separator
  font 200 4rem 'Dosis'

.max
  font 200 1.5rem 'Dosis'
  position relative
  top 2rem

