.deck-view
  width calc(100% - 5rem * 2)
  max-width pageWidth
  .grid-figure
    flex-basis calc(50% - 2rem)
    margin 0 1rem 2rem 0rem
.title-card
  border 1px solid lightgray
  background-color white
  border-bottom 5px solid black
  margin 0 1rem 2rem 0
  padding 4rem 2rem 2rem 2rem
  flex-direction row
.title-text
  margin-top 2rem
  flex-grow 1
.control-buttons
  width 25%
  flex-direction column
