@import '../_variables';

.deck-view
  width 100%
  max-width pageWidth
  // .grid-figure
  //   flex-basis calc(50% - 2rem)
  //   margin 0 1rem 2rem 0rem
.title-card
  border 1px solid lightgrey
  background-color white
  border-bottom 5px solid black
  margin 0 1rem 2rem 1rem
  padding 2rem
  padding-top 4rem
  flex-direction row
  flex-wrap wrap
.title-text
  margin-top 2rem
  flex 1 1 75%
  text-overflow ellipsis
  *
    margin-right 2rem
    flex 1 1 auto
.control-buttons
  width 25%
  flex-direction column
  flex 1 0 25%
  button
    flex 0 0 auto
