@import '../_variables';
.deck-navigator
  flex-direction row
  justify-content space-between

  div
    margin 0.25rem 1.0rem
  p
    font-size 1.5rem
    margin 0
  strong
    color blue
    margin-right 5px
  &:hover
    .remove-comment
      opacity 1

.left
  content ''
.right
  content ''

.deck-nav-controls
  flex-direction row
  .button, a, button
    font-size 1.5rem
    border none

.deck-nav-links, .deck-nav-count,
    color darken(offwhite, 30%)
    font-size 1.5rem
    font-weight bold
