@import '../_variables';
.deck-navigator
  // we need this?
  display block
  flex 1 0 100%
  max-width 100%
  ////////

  div
    margin 0.25rem 1.0rem
  p
    font-size 1.5rem
    margin 0
  strong
    color blue
    margin-right 5px
  &:hover
    .remove-comment
      opacity 1

.deck-nav-links, .deck-nav-count, .deck-nav-controls
    display inline-block
    color darken(offwhite, 30%)
    font-size 1.5rem
    font-weight bold
.deck-nav-controls
  .button, a
    font-size 1.5rem
    border none
.deck-nav-links
  display block
