@import '../_variables';

.deck-view
  width calc(100% - 5rem * 2)
  max-width pageWidth
  .grid-figure
    flex-basis calc(50% - 2rem)
    margin 0 1rem 2rem 0rem
.title-card
  border 1px solid lightgrey
  background-color white
  border-bottom 5px solid black
  margin 0 1rem 2rem 1rem
  padding 2rem
  padding-top 4rem
  flex-direction row
.title-text
  margin-top 2rem
  flex-grow 1
.control-buttons
  width 25%
  flex-direction column
