:global
  html
    font-family 'Helvetica', sans-serif
    font-size 62.5%

  a
    color blue
    font-weight bold
    text-decoration none
    &:hover, &:active, &:visited
      text-decoration none

  button, .button
    font-size 1.5rem
    font-weight bold

  p
    font-size 1.6rem
    line-height 1.5

  h1
    font-size 5rem
    margin 0
    padding 0
    text-overflow ellipsis

  .nav-container h1
    font 200 2.5rem 'Dosis', sans-serif
    letter-spacing -0.05rem
    // text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
    .title-bold
      font-weight 400
    a
      font-weight 300
      color black
      text-decoration none
      &:focus
        outline 0

  footer
    .credit
      font-size 1.0rem
      color lighten(gray, 85%)

  /* latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(https://fonts.gstatic.com/s/dosis/v6/RPKDmaFi75RJkvjWaDDb0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
