@import '_normalize.styl'
@import '_variables.styl'
@import '_typography.styl'
@import '_animations.styl'
@import 'components/*'

:global
  html, body
    height 100%

  body
    background offwhite

  .wrap-row
    flex-wrap wrap
    flex-direction row
    justify-content space-between

  .grid-figure
    flex-direction row
    flex-basis calc(33.333% - 2rem)
    flex-grow 1
    flex-shrink 0
    margin 0 1rem 2rem 1rem
    // padding 2rem
    border 1px solid lightgrey
    background white
    position relative

  .single
    width cardWidth

  .single .grid-figure
    // Single stack
    box-shadow 7px 7px 6px 1px rgba(0,0,0,0.05)
    flex-grow 1

  /*
    Buttons
  */
  .control-buttons
    width 100%
    flex-direction row
    justify-content space-between
    .button
      margin-right 1rem

  button, .button
    border 2px solid lightgrey
    background none
    flex-basis 48%
    display inline-block
    line-height 2
    text-decoration none
    padding 5px
    text-align center
    color blue
    transition all 0.2s
    box-sizing padding-box
    cursor pointer
    &:hover, &:focus
      border-color blue
      outline 0
    &[disabled]
      color lightgrey
    &[disabled]:hover
      border-color none

  .button-delete
    color red
    &:hover, &:focus
      border-color red

  /*
    Forms
  */
  .edit-form
    display flex
    flex-direction column
    justify-content space-between
    input, textarea
      width 100%
      border 0
      font-size 1.4rem
      padding 1rem 0
      border-bottom 1px solid lightgrey
      outline none
      resize vertical
      transition all 0.2s
      opacity 0.6
      &:hover
        opacity 1
    textarea.mono
      font-family 'Courier'
      // border 1px solid lightgrey
    .large-input
      font-size 3rem

  main.main-container
    flex-grow 1
    flex-direction row
    order 2
    justify-content center
    section
      margin-top contentMargin


  footer
    order 3
    display flex
    flex-direction row
    justify-content center
    p
      font-size 1.3rem
      color lighten(lightgrey, 10%);
