@import '_variables.styl'

:global
  html
    font-size: 62.5%
  body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: 'Helvetica', sans-serif
    font-size: 15px
    font-size: 1.5rem

  h1, .large
    font-size: 4.0rem
    margin: 0
    padding: 0
    font-weight: bold
  h2
    font-size: 3.0rem
  h3
    font-size: 2.5rem
  h4
    font-size: 2.0rem

  a
    color: blue
    font-weight: bold
    text-decoration: none
    transition: 0.5s all
    border-bottom: 2px solid transparent
    &:hover, &:active, &:visited, &:link
      text-decoration: none

  input[type='text'],
  input[type='password'],
  textarea
    font-size: 1.4rem
  label > span
    text-transform: uppercase
    letter-spacing: -0.03rem
    font-weight: bold;
    font-size: 1.25rem
    a, a.visited, a.active, a.link
      font-weight: bold
  textarea.mono, code, pre
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-size: 1.5rem
    line-height: 1.5
  code
    font-size: inherit

  kbd
    font: bold .85em/1 "Helvetica", Arial, sans-serif
  button, .button
    font-size: 1.5rem
    font-weight: bold

  p, .paragraph
    font-size: 1.6rem
    line-height: 1.5

  .large-input
    font-size: 2.5rem

  .dosis
    font: 200 1.5rem 'Dosis'
    letter-spacing: -0.04rem

  footer
    p, a, a:active, a:hover, a:visited
      font-size: 1.6rem
    p
      color: lighten(grey, 10%)
    a, a:active, a:hover, a:visited
      font-size: 2.5rem
      color: lighten(grey, 10%)

  /* latin */
  @font-face
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(https://fonts.gstatic.com/s/dosis/v6/RPKDmaFi75RJkvjWaDDb0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

  @font-face
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

  @media (max-width: cardWidth)
    html
      font-size: 55.5% // Scale the font down for the mobile view, although this
                       // will ruin the 1:1 with px/rem

